@import "../colors";
@import "../fonts";

.login {
  &-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-button {
    // margin: 5rem;
    margin-bottom: 1rem;
    background-color: #f50d0d00;
    border: 0.1px solid $white;
    border-radius: $radius-xl;
    color: $white;
    cursor: pointer;
    font-size: $xs;
    font-weight: $font-weight-light;
    height: 10$xl;
    line-height: $xl;
    padding: 0 16px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    width: 5$h1;

    &-active {
      background-color: $white;
      color: $black;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  &-options {
    display: flex;
    flex-direction: column;
    //padding: 0.5rem 1rem;
    align-items: flex-start;
    justify-content: center;
    background-color: $white;

    width: 15rem;
    border: 1px solid $white;
    border-radius: $radius;

    & > div {
      padding: 0.3rem 0.5rem;
      //border: 1px solid black;
      width: 100%;

      &:hover {
        background-color: $gray;
      }
    }
  }

  &-hr {
    width: 100%;
    border: 0.1px solid $gray;
    margin: 0.5rem 0;
  }
}
