.location {
  margin: 6rem;
  &-input-container {
    width: 14rem;
    //border: 1px solid #e0e0e0;
  }
  &-input {
    border: none;
    outline: none;
    width: 12.8rem;
    background-color: #e0e0e000;
  }
  &-suggestions {
    border: 1px solid #e0e0e0;
    border-radius: 0.3rem;
    margin-top: 0.4rem;
    //padding: 0.4rem 0.3rem;
    width: 14rem;

    & > div {
      &:first-child {
        padding: 0;
        padding-top: 0.3rem;
        padding-left: 0.1rem;
      }

      padding: 0.1rem 1.5rem;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
